@namespace PlannerApp.Components

<div class="d-flex flex-row align-center my-2">
	<MudTextField @bind-Value="_description" 
				  Label="New Item Description" 
				  Placeholder="Going to the gym" 
				  Variant="Variant.Outlined" 
				  Margin="Margin.Dense" 
				  Error="@(!string.IsNullOrWhiteSpace(_errorMessage))"
				  ErrorText ="@_errorMessage"
				  Class="flex-grow-1 flex-shrink-0 mr-2" ></MudTextField>

	@if (_isBusy)
	{
		<MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="flex-grow-0 flex-shrink-0 mr-2"/>
	}
	else
	{
		<MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Success" Class="flex-grow-0 flex-shrink-0 mr-2"
						   OnClick="AddToItemAsync"></MudIconButton>	
	}
	
</div>